{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="title-container">
    <h1>Upload your YOLOv8 Model and File</h1>
</div>
<div class="model-upload-container">
    <form action="/model_upload" method="post" enctype="multipart/form-data">
        <input type="file" id="upmodel" name="model" required>
        <label for="upmodel">{{up_model}}</label>
        <input type="submit" value="Upload">
    </form>
</div>
<div class="file-container">
    <div class="file-upload-container">
        <form action="/file_upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*,video/*" class="hidden" required>
            <label for="upfile">{{up_file}}</label>
            <input type="submit" value="Upload">
        </form>
    </div>
    <div class="file-preview-container">
        {% if file_name == null or file_name == "" %}
        <p>No file uploaded</p>
        {% else %}
        <img src="{{ url_for('serve_image', filename=file_name) }}" alt="Uploaded file">
        {% endif %}
    </div>
</div>
{% endblock %}