{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="title-container">
    <h1>Upload your YOLOv8 Model and File</h1>
</div>
<div class="model-upload-container">
    <form action="/model_upload" method="post" enctype="multipart/form-data">
        <input type="file" id="upmodel" name="model" accept=".pt" required>
        <label for="upmodel">{{up_model}}</label>
        <input type="submit" value="Upload">
    </form>
</div>
<div class="file-container">
    <div class="file-upload-container">
        <form action="/file_upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*,video/*" class="hidden" required>
            <label for="upfile">{{up_file}}</label>
            <input type="submit" value="Upload">
        </form>
    </div>
    <div class="file-preview-container">
        {% if file_name == null or file_name == "" or file_type == null or file_type == "" %}
            <p>No file uploaded</p>
        {% else %}
            {% if file_type in ["apng", "avif", "gif", "png", "jpeg", "jpg", "svg", "webp", "bmp", "ico", "tiff"] %}
                <img src="{{ url_for('serve_image', filename=file_name) }}" alt="Uploaded file">
            {% elif file_type in ["mp4", "webm", "ogg", "mov", "webm"] %}
                <video controls>
                    <source src="{{ url_for('serve_video', filename=file_name)}}" type="video/{{ file_type }}">
                    Your browser does not support the video tag.
                </video>
            {% else %}
                <p>Unsupported file type</p>
            {% endif %}
        {% endif %}
    </div>
    <div class="file-result-container">
        {% if result_file == null or result_file == "" %}
        {% else %}
            {% if result_file_type in ["apng", "avif", "gif", "png", "jpeg", "jpg", "svg", "webp", "bmp", "ico", "tiff"] %}
                <img src="{{ url_for('serve_result_image', filename=result_file)}}">
            {% elif result_file_type in ["mp4", "webm", "ogg", "mov"] %}
                <video controls>
                    <source src="{{ url_for('serve_result_video', filename=result_file)}}" type="video/{{ file_type }}">
                    Your browser does not support the video tag.
                </video>
            {% else %}
            {% endif %}
        {% endif %}
    </div>
    <div class="start_container">
        <form action="{{ url_for('start_process')}}" method="post">
            <input type="submit" name="start_button" value="Start">
        </form>
    </div>
</div>
{% endblock %}